<div class="dashboard-container">
  <mat-form-field floatLabel="never">
    <mat-label>Search</mat-label>
    <input
      type="text"
      matInput
      placeholder="search"
      [formControl]="searchInput"
      maxlength="50"
     >
  </mat-form-field>
  <mat-list class="list" *ngIf="toDoList">
    <mat-list-item *ngFor="let toDo of toDoList">
      {{ toDo.title }}
      <mat-checkbox
        class="check-list"
        [checked]="toDo.completed"
        [disabled]="loadingIds.includes(toDo.id)"
        (change)="updateToDo(toDo.id, toDo.completed)"
        >Done</mat-checkbox
      >
    </mat-list-item>
  </mat-list>
</div>
